<%= render 'navBar', project: @project %>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
        <table> 
        <tr> <h1 class="d-flex justify-content-center text-info" 
                style="font-family: 'Times New Roman', monospace;"> Portfolio </h1> </tr>

        <br>
        <tr> <h2 class="d-flex justify-content-center"
                style="font-family: 'Times New Roman', monospace;"> Robbie Hawkins </h2> </tr>
        
                <tr> <p class="text-center"> A Sophmore at the University of Colorado in Colorado Springs Studying Computer Science </p> </tr>
        <tr> <p class="text-center"> Some of my interests include, Game Development, Artificial Intelligence, Machine Learning, and Virtual Reality </p>
      </table>
      <br>
    <div class="container mt-auto mb-auto ">
      <div class="title d-flex flex-column text-center">
        <h1 style="font-family: 'Times New Roman', monospace;">Projects</h1>
      </div>
   
      <div class="container-fluid-nav text-center">
      <button type="button" class="btn btn-outline-primary btn-lg" > <%= link_to 'New Project', new_project_path %> </button>
    </div>  
    <br>
        </div>
      </div>

      <div class="container">
      <div class="row">
        <table class="table">
              <% @projects.each do |project| %>
                <tr>
                  <div class="col-md-4">
                    <div class="card mt-4">
                    <h5 class="card-title d-flex justify-content-center mt-3"> <%= project.title %> </h5>

                    <div class="col-md-12">
                    <p class="card-text"
                    style="overflow: hidden; text-overflow: ellipsis; display: 
                    -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">
                    <%= project.description %> </p>
                    

                    <div class="d-flex justify-content-center mb-2">
                     <%= link_to 'Show', project , :class => 'btn btn-outline-primary'%>
                     
                     <% if user_signed_in? %>
                       <div class="ml-3 mr-3"><%= link_to 'Edit', edit_project_path(project), :class => 'btn btn-outline-success' %>
                       </div>
                      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger' %>
                    </div>
                    <% end %>
                  </div>
                </tr>

              <% end %>
          </thead>
        </table>
      <div>
        <hr>
    </main>

    
    <footer class="container">
    <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <% end %>
  </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  

</body>
